In [1]:
#import dependencies
import pandas as pd

In [2]:
#set path for csv file
csvpath = "Resources/purchase_data.csv"
#import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csvpath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count
#calculate total players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [4]:
#place Player Count into a summary DataFrame
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

In [5]:
#Purchasing Analysis (Total); PAT

#need to find: number of items, average price, total # of purchases, total revenue
#be careful of ordering

#calculate the number of unique items
items = len(purchase_data_df["Item ID"].unique())

#calculate the total revenue
total_revenue = sum(purchase_data_df["Price"])

#calculate the total number of purchases
total_number_of_purchases = len(purchase_data_df["Price"])

#calculate the average price 
average_price = total_revenue / total_number_of_purchases

In [9]:
# place all of the Purchasing Analysis data found into a summary DataFrame
PAT_df = pd.DataFrame({"Number of Unique Items": [items],
                                                  "Average Price": [average_price],
                                                  "Number of Purchases": [total_number_of_purchases],
                                                  "Total Revenue": [total_revenue]                                                  
                                                 })
PAT_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [10]:
#now format Average Price and Total Revenue in the summary table
PAT_df["Average Price"] = PAT_df["Average Price"].map("${:,.2f}".format)
PAT_df["Total Revenue"] = PAT_df["Total Revenue"].map("${:,.2f}".format)

PAT_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [ ]:
#Gender Demographics (total unique count of each gender and the gender's percent of total players)

#need to drop the duplicate players in order to find the numbers we're after
player_demo = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()

#generate totals for each gender
gender_total = player_demo["Gender"].value_counts()

#generate percents for each gender
gender_percent = gender_total / total_players

In [ ]:
#put gender demographics into a summary table
gender_demo_df = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percent})
gender_demo_df

In [ ]:
#format the percentage of players
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2%}".format)
gender_demo_df

In [ ]:
#Purchasing Analysis (Gender)

#use GroupBy in order to separate the data into fields according to "gender" values
gender_groupby_df = purchase_data_df.groupby(["Gender"])
gender_groupby_df.count()

In [ ]:
type(gender_groupby_df)

In [ ]:
gender_groupby_df
test = gender_groupby_df.aggregate(np.sum)
test

In [ ]:
test.columns

In [ ]:
gender_demo_df.columns

In [ ]:
type(test)

In [ ]:
test.dtypes

In [ ]:
type(gender_demo_df)

In [ ]:
gender_demo_df.dtypes

In [ ]:
gender_demo_df

In [ ]:
kyle_merge_df = pd.merge(gender_demo_df, test, left_index=True, right_index=True)
kyle_merge_df

In [ ]:
#by gender, obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person

#purchase count
purchase_count = gender_groupby_df["Purchase ID"].count()
purchase_count
print(purchase_count)

total_purchased = gender_groupby_df["Price"].sum()
total_purchased
print(total_purchased)

ave_price = total_purchased / purchase_count
ave_price
print(ave_price)

gender_groupby_df["SN"]

##need to find unique gender totals in order to find average total purchase per person
#total_purchased / total_players

In [ ]:
#create new DataFrame to display Purchase Analysis by Gender
gender_groupby_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": ave_price,
                                  "Total Purchase Value": total_purchased})
gender_groupby_df

In [ ]:
#Age Demographics

#figure out the minimum and maximum ages for players
print(player_demo["Age"].max())
print(player_demo["Age"].min())

In [ ]:
#establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
pd.cut(player_demo["Age"], bins, labels=group_labels).head()
#series

In [ ]:
player_demo["Age Group"] = pd.cut(player_demo["Age"], bins, labels=group_labels)
player_demo
#DF

In [ ]:
age_counts = player_demo["Age Group"].value_counts()
age_counts
type(age_counts)

In [ ]:
total_gender = player_demo["Gender"].value_counts()
total_gender
type(total_gender)

In [ ]:
#total_players = total_gender.sum()

In [ ]:
age_percent_makeup = age_counts / total_players
age_percent_makeup
type(age_percent_makeup)

In [ ]:
age_demographics_table_df = pd.DataFrame({"Total Count": age_counts,
                                          "Percentage of Players": age_percent_makeup}).sort_index()
age_demographics_table_df

In [ ]:
age_demographics_table_df["Percentage of Players"] = age_demographics_table_df["Percentage of Players"].map("{:,.2%}".format)
age_demographics_table_df

In [ ]:
age_group = player_demo.loc[player_demo["Age Group"].value_counts()]
age_group
#DF

In [ ]:
total_players = player_demo["Age Group"].count()
total_players

In [ ]:
 # Create a GroupBy object based upon "View Group"
age_group = player_demo.groupby("Age Group")

# Find how many rows fall into each bin
#print(age_group["Gender"].count())

#total_count = age_group[["Age Group"]].count()
total_count = age_group.count()
total_count

In [ ]:
age_percent = total_count / total_players
age_percent

In [ ]:
age_demo_summary_table = pd.DataFrame({"Total Count": [total_count], "Percent": [age_percent]})
age_demo_summary_table

In [ ]:
#determine gender classifications
purchase_data_df["Gender"].unique()

In [ ]:
gender_groupby_df = purchase_data_df.groupby(["Gender"])
print(gender_groupby_df)
gender_groupby_df.count()

In [ ]:
gender_groupby_df["Purchase ID"].unique().count()

In [ ]:
gender_groupby_df["SN"].count()

In [ ]:
gender_groupby_df["SN"].unique()

In [ ]:
print(len(gender_groupby_df["SN"].unique()))

In [ ]:
male_players = purchase_data_df.loc[purchase_data_df["Gender"].value_counts()
total_male_players = len(male_players["SN"].unique())
print(total_male_players)

In [ ]:
gender_players_total = purchase_data_df["Gender"].value_counts()
gender_players_total

In [ ]:
#male_players = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
#total_male_players = len(male_players["SN"].unique())
#total_male_players
#male_percent = (total_male_players) / (total_players) * 100
#male_percent

In [ ]:
#female_players = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
#total_female_players = len(female_players["SN"].unique())
#total_female_players
#female_percent = (total_female_players) / (total_players) * 100
#female_percent

In [ ]:
#other_players = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
#total_other_players = len(other_players["SN"].unique())
#total_other_players
#other_percent = (total_other_players) / (total_players) * 100
#other_percent

In [ ]:
#gender_summary = pd.DataFrame([{"Total Count": total_male_players, "Percentage of Players": male_percent},
                               {"Total Count": total_female_players, "Percentage of Players": female_percent},
                               {"Total Count": total_other_players, "Percentage of Players": other_percent}])
#gender_summary

In [ ]:
gender_analysis_df = purchase_data_df[["SN", "Gender", "Item Name", "Price"]]
gender_analysis_df.head()

In [ ]:
gender_analysis_df = gender_analysis_df.groupby(["Gender"])

ga_test = gender_analysis_df.count()
ga_test

In [ ]:
gender_analysis_df["SN"].unique()

In [ ]:
#Gender Demographics (GD)
#find percent and count of: male players, female players and other/non-disclosed players

#male players
#create a dataframe removing females and other/non-disclosed
male_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]

#find unique number of male players
total_male_players = len(male_players_df["SN"].unique())

#percent of players which are male
male_percent = (total_male_players) / (total_players) * 100

male_players_df.head()

In [ ]:
#Gender Demographics (GD)
#female players

#create female dataframe
female_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]

#find total unique female players
total_female_players = len(female_players_df["SN"].unique())

female_percent = (total_female_players) / (total_players) * 100


female_players_df.head()

In [ ]:
#Gender Demographics (GD)
#other/non-disclosed players

#create other/non-disclosed dataframe
other_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]

#find total unique other players
total_other_players = len(other_players_df["SN"].unique())


other_percent = (total_other_players) / (total_players) * 100

other_players_df.head()

In [ ]:
m_f = pd.merge(male_players_df, female_players_df, on="Purchase ID")
gender_merge

In [ ]:
m_f_o = pd.merge(m_f, other_players_df, on="Purchase ID")
m_f_o