In [1]:
#import dependencies
import pandas as pd

In [2]:
#set path for csv file
csvpath = "Resources/purchase_data.csv"
#import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csvpath)

In [3]:
#Player Count

#calculate total players
total_players = len(purchase_data_df["SN"].unique())

#place Player Count into a summary dataframe and display
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total); PAT
#need to find: unique items, average price, total # of purchases, total revenue
#be careful of ordering

#calculate the number of unique items
items = len(purchase_data_df["Item ID"].unique())

#calculate the total revenue
total_revenue = sum(purchase_data_df["Price"])

#calculate the total number of purchases
total_number_of_purchases = len(purchase_data_df["Price"])

#calculate the average price 
average_price = total_revenue / total_number_of_purchases

In [5]:
# place all of the Purchasing Analysis data found into a summary dataframe
PAT_df = pd.DataFrame({"Number of Unique Items": [items],
                                                  "Average Price": [average_price],
                                                  "Number of Purchases": [total_number_of_purchases],
                                                  "Total Revenue": [total_revenue]})

In [6]:
#format summary table and display results
PAT_df["Average Price"] = PAT_df["Average Price"].map("${:,.2f}".format)
PAT_df["Total Revenue"] = PAT_df["Total Revenue"].map("${:,.2f}".format)

PAT_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [7]:
#Gender Demographics
#find percentage and count for each gender

#need to drop the duplicate players in order to find the numbers we're after
player_demo_df = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demo_df = player_demo_df.drop_duplicates()

#generate totals for each gender
gender_total = player_demo_df["Gender"].value_counts()

#generate percents for each gender
gender_percent = gender_total / total_players

In [8]:
#put gender demographics into a summary table
gender_demo_df = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percent})

In [9]:
#format the percentage of players and display
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2%}".format)

gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [10]:
#Purchasing Analysis (Gender)
#want to find by gender: total # of purchases, avg. purchase price, total purchase value, avg total purchase/person

#create a dataframe(groupby), grouping by gender
gender_groupby = purchase_data_df.groupby(["Gender"])
#run a function to make sure it's what I want
gender_groupby.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [11]:
#find values for our table and place them into variables

#how many purchases each gender made
purchase_count = gender_groupby["Purchase ID"].count()

#total sum of purchases by gender
total_purchased = gender_groupby["Price"].sum()

#each gender's average purchase price
ave_price = total_purchased / purchase_count

#average total purchase price per person within each gender
ave_total_purch_per_person = total_purchased / gender_total

In [12]:
#create dataframe
gender_purchasing_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Average Purchase Price": ave_price,
                       "Total Purchase Value": total_purchased,
                       "Avg Total Purchase per Person": ave_total_purch_per_person})

In [13]:
#format dataframe and display
gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"] = gender_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [14]:
#Age Demographics

#for binning purposes, figure out the minimum and maximum ages for players
print(player_demo_df["Age"].max())
print(player_demo_df["Age"].min())

45
7

In [15]:
#establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#create labels for the bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice the data and place it into bins; put it into a new column
player_demo_df["Age Group"] = pd.cut(player_demo_df["Age"], bins, labels=group_labels)

In [16]:
#find values for Age Demographics summary table

#the total number of players by bin
age_counts = player_demo_df["Age Group"].value_counts()

#find the total number of players
total_gender = player_demo_df["Gender"].value_counts()

#each bin as a percentage of total players
age_percent_makeup = age_counts / total_players

In [17]:
#build a summary table for these values
age_demographics_table_df = pd.DataFrame({"Total Count": age_counts,
                                          "Percentage of Players": age_percent_makeup}).sort_index()

In [18]:
#format the table and display
age_demographics_table_df["Percentage of Players"] = age_demographics_table_df["Percentage of Players"].map("{:,.2%}".format)

age_demographics_table_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [19]:
#Purchasing Analysis (Age); PAA
#find according to age-ranges: purchase count, avg. purchase price, total purchase value, avg. purchase total per person

#bin our original dataframe by age
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)

purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [20]:
#values for summary table

#how many purchases each age range made
purchase_count = purchase_data_df["Age Group"].value_counts()

purchase_data_group = purchase_data_df.groupby("Age Group")
#sum the prices that fall into each bin
total_purchase_value = purchase_data_group["Price"].sum()

#the average purchase price for each age range
average_purchase_price = total_purchase_value / purchase_count

#avg total purchase per person; using age_counts from my Age Demographics analysis
avg_total_purchase_per_person = total_purchase_value / age_counts

In [21]:
#place the data into a dataframe
PAA_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value": total_purchase_value,
                                 "Avg Total Purchase per Person": avg_total_purchase_per_person})

#give the index a name
PAA_df.index.name = "Age Groups"

In [22]:
#format and display the dataframe
PAA_df["Average Purchase Price"] = PAA_df["Average Purchase Price"].map("${:,.2f}".format)
PAA_df["Total Purchase Value"] = PAA_df["Total Purchase Value"].map("${:,.2f}".format)
PAA_df["Avg Total Purchase per Person"] = PAA_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

PAA_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [23]:

SN_group = purchase_data_df.groupby("SN")

user_purchase_count = SN_group["Purchase ID"].count()
user_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [ ]:
user_purchase_value = SN_group["Price"].sum()
user_purchase_value

In [ ]:
user_avg_purchase_price = user_purchase_value / user_purchase_count
user_avg_purchase_price

In [ ]:
Spenders_df = pd.DataFrame({"Purchase Count": user_purchase_count,
                            "Average Purchase Price": user_avg_purchase_price,
                            "Total Purchase Value": user_purchase_value})
Spenders_df

In [ ]:
Spenders_df = Spenders_df.sort_values("Total Purchase Value", ascending=False)
Spenders_df.head()

In [ ]:
Spenders_df["Average Purchase Price"] = Spenders_df["Average Purchase Price"].map("${:,.2f}".format)
Spenders_df["Total Purchase Value"] = Spenders_df["Total Purchase Value"].map("${:,.2f}".format)
Spenders_df.head()

In [ ]:
#Vallie's work

most_popular_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
most_popular_df

In [ ]:
# Get the values we need 
#bill note: printing is more reliable than the ie purchase count i have written
purchase_count = most_popular_df.groupby(["Item ID", "Item Name"]).count()["Price"]
print(purchase_count)

total_purchase_value = most_popular_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
print(total_purchase_value)

item_price = most_popular_df.groupby(["Item ID", "Item Name"]).max()["Price"]
print(item_price)

In [ ]:
# Assemble them into a dataframe
popularity_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Item Price": item_price,
                                      "Total Purchase Value": total_purchase_value})
popularity_summary_df

In [ ]:
#sort on Purchase Count in ascending order
most_popular_df = popularity_summary_df.sort_values("Purchase Count", ascending=False)
most_popular_df.head()

In [ ]:
most_popular_df["Item Price"] = most_popular_df["Item Price"].map("${:,.2f}".format)
most_popular_df["Total Purchase Value"] = most_popular_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_df.head()

In [ ]:
#Most Profitable Items
#sort the above table by total purchase value in descending order

most_profitable_df = popularity_summary_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_df.head()

In [ ]:
most_profitable_df["Item Price"] = most_profitable_df["Item Price"].map("${:,.2f}".format)
most_profitable_df["Total Purchase Value"] = most_profitable_df["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_df.head()