In [1]:
#import dependencies
import pandas as pd

In [2]:
#set path for csv file
csvpath = "Resources/purchase_data.csv"
#import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csvpath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#calculate the Player Count (PC)
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [4]:
#place Player Count into a summary DataFrame
summary_table_PC = pd.DataFrame({"Total Players": [total_players]})
summary_table_PC

   Total Players
0            576

In [5]:
#Purchasing Analysis (PA)
#need to find: number of unique items, average price, total # of purchases, total revenue
#be careful of ordering

#calculate the number of unique items
unique_items = len(purchase_data_df["Item Name"].unique())

#calculate the total revenue
total_revenue = sum(purchase_data_df["Price"])

#calculate the total number of purchases
total_number_of_purchases = len(purchase_data_df["Price"])

#calculate the average price 
average_price = total_revenue / total_number_of_purchases

In [6]:
# Place all of the Purchasing Analysis data found into a summary DataFrame
summary_table_PA = pd.DataFrame({"Number of Unique Items": [unique_items],
                                                  "Average Price": [average_price],
                                                  "Number of Purchases": [total_number_of_purchases],
                                                  "Total Revenue": [total_revenue]                                                  
                                                 })
summary_table_PA.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [7]:
#now format Average Price and Total Revenue in the summary table
summary_table_PA["Average Price"] = summary_table_PA["Average Price"].map("${:,.2f}".format)
summary_table_PA["Total Revenue"] = summary_table_PA["Total Revenue"].map("${:,.2f}".format)

summary_table_PA.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
#determine gender classifications
purchase_data_df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [9]:
#gender_analysis_df = purchase_data_df[["SN", "Gender", "Item Name", "Price"]]
#gender_analysis_df.head()

In [10]:
#gender_analysis_df = gender_analysis_df.groupby(["Gender"])

#ga_test = gender_analysis_df.count()
#ga_test

In [11]:
#gender_analysis_df["SN"].unique()

In [12]:
#Gender Demographics (GD)
#find percent and count of: male players, female players and other/non-disclosed players

#male players
#create a dataframe removing females and other/non-disclosed
male_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]

#find unique number of male players
total_male_players = len(male_players_df["SN"].unique())

#percent of players which are male
male_percent = (total_male_players) / (total_players) * 100

male_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
#Gender Demographics (GD)
#female players

#create female dataframe
female_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]

#find total unique female players
total_female_players = len(female_players_df["SN"].unique())

female_percent = (total_female_players) / (total_players) * 100


female_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [14]:
#Gender Demographics (GD)
#other/non-disclosed players

#create other/non-disclosed dataframe
other_players_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]

#find total unique other players
total_other_players = len(other_players_df["SN"].unique())


other_percent = (total_other_players) / (total_players) * 100

other_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [18]:
m_f = pd.merge(male_players_df, female_players_df, on="Purchase ID")
gender_merge

Empty DataFrame
Columns: [Purchase ID, SN_x, Age_x, Gender_x, Item ID_x, Item Name_x, Price_x, SN_y, Age_y, Gender_y, Item ID_y, Item Name_y, Price_y]
Index: []

In [19]:
m_f_o = pd.merge(m_f, other_players_df, on="Purchase ID")
m_f_o

Empty DataFrame
Columns: [SN_x, Age_x, Gender_x, Item ID_x, Item Name_x, Price_x, SN_y, Age_y, Gender_y, Item ID_y, Item Name_y, Price_y, Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []