In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#set path for csv file
csvpath = "Resources/purchase_data.csv"
#import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csvpath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count
#calculate total players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

In [4]:
#place Player Count into a summary DataFrame
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

In [5]:
#Purchasing Analysis (Total); PAT

#need to find: number of items, average price, total # of purchases, total revenue
#be careful of ordering

#calculate the number of unique items
items = len(purchase_data_df["Item ID"].unique())

#calculate the total revenue
total_revenue = sum(purchase_data_df["Price"])

#calculate the total number of purchases
total_number_of_purchases = len(purchase_data_df["Price"])

#calculate the average price 
average_price = total_revenue / total_number_of_purchases

In [6]:
# place all of the Purchasing Analysis data found into a summary DataFrame
PAT_df = pd.DataFrame({"Number of Unique Items": [items],
                                                  "Average Price": [average_price],
                                                  "Number of Purchases": [total_number_of_purchases],
                                                  "Total Revenue": [total_revenue]                                                  
                                                 })
PAT_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [7]:
#now format Average Price and Total Revenue in the summary table
PAT_df["Average Price"] = PAT_df["Average Price"].map("${:,.2f}".format)
PAT_df["Total Revenue"] = PAT_df["Total Revenue"].map("${:,.2f}".format)

PAT_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [8]:
#Gender Demographics
#find each gender's total count and percentage makeup of all players

#need to drop the duplicate players in order to find the numbers we're after
player_demo_df = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demo_df = player_demo_df.drop_duplicates()

#generate totals for each gender
gender_total = player_demo_df["Gender"].value_counts()

#generate percents for each gender
gender_percent = gender_total / total_players

In [9]:
#put gender demographics into a summary table
gender_demo_df = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percent})
gender_demo_df

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [10]:
#format the percentage of players
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2%}".format)
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
#Purchasing Analysis (Gender)

#create a dataframe, grouping by gender
gender_groupby = purchase_data_df.groupby(["Gender"])
gender_groupby.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [12]:
type(gender_groupby)

pandas.core.groupby.generic.DataFrameGroupBy

In [13]:
purchase_count = gender_groupby["Purchase ID"].count()
purchase_count
print(purchase_count)

total_purchased = gender_groupby["Price"].sum()
total_purchased
print(total_purchased)

ave_price = total_purchased / purchase_count
ave_price
print(ave_price)

ave_total_purch_per_person = total_purchased / gender_total
ave_total_purch_per_person
print(ave_total_purch_per_person)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [14]:
dom_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Average Purchase Price": ave_price,
                       "Total Purchase Value": total_purchased,
                       "Avg Total Purchase per Person": ave_total_purch_per_person})
dom_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [15]:
dom_df["Average Purchase Price"] = dom_df["Average Purchase Price"].map("${:,.2f}".format)
dom_df["Total Purchase Value"] = dom_df["Total Purchase Value"].map("${:,.2f}".format)
dom_df["Avg Total Purchase per Person"] = dom_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
dom_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
#make gender_groupby into a DataFrame
gender_groupby_df = gender_groupby.aggregate()
gender_groupby_df

In [ ]:
#merge gender demographics summary table and gender groupby dataframe
gender_df = pd.merge(gender_demo_df, gender_groupby_df, left_index=True, right_index=True)
gender_df

In [ ]:
#by gender, obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person

#purchase count
purchase_count = gender_groupby["Purchase ID"].count()
purchase_count
print(purchase_count)

total_purchased = gender_groupby["Price"].sum()
total_purchased
print(total_purchased)

ave_price = total_purchased / purchase_count
ave_price
print(ave_price)



##need to find unique gender totals in order to find average total purchase per person
#total_purchased / total_players

In [ ]:
#create new DataFrame to display Purchase Analysis by Gender
gender_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": ave_price,
                                  "Total Purchase Value": total_purchased})
gender_df

In [ ]:
#Age Demographics

#figure out the minimum and maximum ages for players
print(player_demo_df["Age"].max())
print(player_demo_df["Age"].min())

In [ ]:
#establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
pd.cut(player_demo_df["Age"], bins, labels=group_labels).head()
#series

In [ ]:
player_demo_df["Age Group"] = pd.cut(player_demo_df["Age"], bins, labels=group_labels)
player_demo_df
#DF

In [ ]:
age_counts = player_demo_df["Age Group"].value_counts()
age_counts

In [ ]:
total_gender = player_demo_df["Gender"].value_counts()
total_gender

In [ ]:
age_percent_makeup = age_counts / total_players
age_percent_makeup

In [ ]:
age_demographics_table_df = pd.DataFrame({"Total Count": age_counts,
                                          "Percentage of Players": age_percent_makeup}).sort_index()
age_demographics_table_df

In [ ]:
age_demographics_table_df["Percentage of Players"] = age_demographics_table_df["Percentage of Players"].map("{:,.2%}".format)
age_demographics_table_df

In [ ]:
#Purchasing Analysis (Age)

pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

In [ ]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df

In [ ]:
bin_purchases_count = purchase_data_df["Age Group"].value_counts()
bin_purchases_count

In [ ]:
purchase_groupby = purchase_data_df.groupby["Age Group"]
purchase_groupby